body {
  background-image: url(https://images8.alphacoders.com/391/391259.jpg);
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px
}

.home-container, h2 {
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
}

.label-container {
  align-items: center;
  display: 'flex';
  flex-direction: row;
}

.link-questions {
  text-decoration: none;
}

footer {
  bottom:0;
  font-size: small;
  left: 15px;
  position: absolute;
  margin-bottom: 10px;
}

@media screen and (max-width: 880px) {
  .home-container, h2 {
    font-size: x-large;
  }
}

@media screen and (max-width: 670px) {
  .home-container, h2 {
    font-size: medium;
  }
}
