.page-container {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  padding: 15px 20px;
  width: fit-content;
}

.page-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
