.header {
  color:rgb(9, 72, 189);
  text-align: center;
  font-family: fantasy;
  font-size: 2em;
}

.graph-title {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.results-container {
  padding-left: 20px;
}

.home-button {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: x-large;
  }

  .first-graph {
    height: 100px;
    width: 500px;
  }

  .second-graph {
    height: 100px;
    width: 500px;
  }
}
