nav {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  justify-content: space-evenly;
  width: 100%;
}

/* nav:hover {
  border: 2px solid black;
} */

img {
  height: 100px;
  width: 350px;
}

@media screen and (max-width: 500px) {
  img {
    height: 60px;
    width: 200px;
  }
}
